body{
    width: 100%;
    margin: 0 auto;
    box-sizing: border-box;
}

.flex{
    display: flex;
    flex-wrap: wrap;
}

.column{
    flex-direction: column;
}

.space-between{
    justify-content: space-between;
}

.align-center{
    align-items: center;
}

header{
    width: 100%;
    box-shadow: 1px 1px 20px black; 

    & .header{
        width: 500px;
        max-width: 100%;
        margin: auto;
        & .logo{
            width: 100px;
            height: 100px;
            background: url("../img/logo.png");
            background-position: center;
            background-repeat: no-repeat;
            background-size: contain;
        }
    }
}

.outlet{
    position: relative;
    width: 500px;
    margin: auto;
    max-width: 100%;

    & .todo-item{
        width: 100%;
        padding-top: 10px;
        padding-bottom: 10px;
        background-color: grey;
        text-indent: 5px;
        margin-bottom: 5px;

        & p{
            max-width: 300px;
            word-break: break-word;
        }
    }

    & .item-checked{
        background-color: green;
    }
}

.section-add-item{
    width: 100%;
    position: sticky;
    bottom: 0;

    & input{
        height: 50px;
        font-size: 16px;
        flex-grow: 3
    }

    & button{
        padding: 10px;
        font-size: 16px;
        font-weight: bold;;
    }
}